.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}
.main form{
    width: 95%;
    margin: auto;
    height: 70px;
}
.main form input{
    width: 100%;
    padding: 10px;
}
.cards{
    margin: auto;
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: auto;
    align-items: center;
}
.cards .card{
    width: 100%;
    min-height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.image{
    /* width: 100px; */
    height: 200px;
    background-position: center;
    background-size: cover;
}
.card h4{
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 3px;
}
.card h1{
    font-size: 25px;
    font-weight: 800;
    padding: 5px;
    color: green;
}
.card p{
    font-weight: 14px;
    opacity: .6;
}
.info{
    padding: 10px;
}
@media screen and (max-width: 900px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 500px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
}